PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/velozity_db?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_ACCESS_SECRET="velozity_access_token_secret_development_key_32_chars"
JWT_REFRESH_SECRET="velozity_refresh_token_secret_development_key_32_chars"
JWT_ACCESS_EXPIRY="15m"
JWT_REFRESH_EXPIRY="7d"
